/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

h1 {
  margin: 20px;
  color: #fff;
}

.fs20 {
  font-size: 20px;
}

.fs15 {
  font-size: 15px;
}

.fs13 {
  font-size: 13px;
}
/* /UTILITIES */

/* background */
body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right bottom, #000044, #001d52, #002c52, #00394b, #004545);
}

.card-container {
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* /background */

/* card */
.card {
  border-radius: 10px;
  width: calc(100% / 4 - 40px);
  margin: 20px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  transition: all 2s;
}

.content > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.content {
  position: relative;
  border-radius: 10px;
}

.overlay {
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  border-radius: 10px;
}

.card:hover .overlay {
  display: flex;
}

.artist {
  padding-bottom: 5px;
}

.year {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.genre {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* /card */

.music-select {
  justify-content: center;
}

label {
  color: #fff;
  padding-right: 10px;
}
