/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

h1 {
  margin: 20px;
  color: #fff;
}

.fs20 {
  font-size: 20px;
}

.fs15 {
  font-size: 15px;
}

.fs13 {
  font-size: 13px;
}
/* /UTILITIES */

/* background */
body {
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  background-size: cover;
}

header {
  margin-bottom: 50px;
}

.card-container {
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* /background */

/* card */
.card {
  border-radius: 10px;
  width: calc(100% / 4 - 40px);
  margin: 20px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  transition: all 2s;
}

.content > img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.content {
  position: relative;
  border-radius: 10px;
}

.overlay {
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  border-radius: 10px;
}

.card:hover .overlay {
  display: flex;
}

.artist {
  padding-bottom: 5px;
}

.year {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.genre {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* /card */

.music-select {
  justify-content: center;
  align-items: center;
}

label {
  color: #fff;
  padding-right: 10px;
}

select {
  color: #8361c3;
  padding: 5px 15px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #2fbf92;
  background-color: rgba(255,255,255, 0.6);
  border-radius: 10px;
  margin-right: 15px;
}

option {
  background-color: rgba(255,255,255, 0.6);
}

.search-input {
  outline: 0;
  border: 0;
  color: #8361c3;
}

::placeholder {
  color: #8361c3;
  opacity: 0.7;
}

button {
  outline: 0;
  border: 0;
}

.fa-search {
  color: #8361c3;
  background-color: #fff;
}

.search {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

@media all and (max-width: 768px) {
  .card {
    width: calc(100% / 2 - 40px);
  }
}

@media all and (max-width: 576px) {
  .card {
    width: calc(100% - 40px);
  }

  .music-select {
    flex-direction: column;
  }

  select {
    margin: 15px 0;
  }
}
